<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passenger Survived</title>
</head>
<body>
The following tags are used in this HTML file to create the passenger survival form:
<form action="/" method="POST">
    <input type="text" name="age" placeholder="age"><br>
    <label>TravelAlone</label>
    <input type="text" name="TravelAlone"><br><br>
    <label>PClass_1</label>
    <input type="text" name="PClass_1"><br><br>
    <label>PClass_2</label>
    <input type="text" name="PClass_2"><br><br>
    <label>Embarked_C</label>
    <input type="text" name="Embarked_C"><br><br>
    <label>Embarked_S</label>
    <input type="text" name="Embarked_S"><br><br>
    <label>Sex_Male</label>
    <input type="text" name="Sex_Male"><br><br>
    <label>IsMinor</label>
    <input type="text" name="IsMinor"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>