<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passenger Survived</title>
</head>
<body>
The following tags are used in this HTML file to create the passenger survival form:
<form method="post">
    <label>Age:</label><br>
    <input type="text"><br><br>
    <label>TravelAlone</label>
    <input type="text" value="TravelAlone"><br><br>
    <label>PClass_1</label>
    <input type="text" value="PClass_1"><br><br>
    <label>PClass_2</label>
    <input type="text" value="PClass_"><br><br>
    <label>Embarked_C</label>
    <input type="text" value="Embarked_C"><br><br>
    <label>Embarked_S</label>
    <input type="text" value="Embarked_S"><br><br>
    <label>Sex_Male</label>
    <input type="text" value="Sex_Male"><br><br>
    <label>IsMinor</label>
    <input type="text" value="IsMinor"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>